[submodule "spec/vendor/underscore"]
	path = spec/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "spec/vendor/jasmine-simple-example"]
	path = spec/vendor/jasmine-simple-example
	url = git://github.com/mark-rushakoff/jasmine-simple-example.git
[submodule "spec/vendor/jasmine-skip-fail"]
	path = spec/vendor/jasmine-skip-fail
	url = git://github.com/mark-rushakoff/jasmine-simple-example.git
[submodule "spec/vendor/qunit-fail"]
	path = spec/vendor/qunit-fail
	url = git://github.com/mark-rushakoff/qunit-fail-demo.git
